@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$ff2: 'Lora', serif;


@import "_reset.scss";
@import "_media.scss";

@font-face {  
  font-family: 'Actay';
  src: url('../fonts/Actay-Regular.woff') format('woff'),
  url('../fonts/Actay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {  
  font-family: 'Actay';
  src: url('../fonts/ActayWide-Bold.woff') format('woff'),
  url('../fonts/ActayWide-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

section {
  padding-top: 100px;
}


a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {  
  font-family: 'Actay';
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  color: #000;
  &.ohi {
    overflow: hidden;
  }
}




.about__play {
  border-radius: 150px;  
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #fff url("../img/play.svg") $nr center;
}



.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.main {  
  flex-grow: 1;
}

.lcpadding {
  padding-left: calc((100% - 1180px)/2);    
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
  }
}



.rcpadding {  
  padding-right: calc((100% - 1180px)/2);
  @media only screen and (max-width : 1199px) {    
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {    
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {    
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {    
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {    
    padding-right: 15px;
  }
}

/*modal*/


.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;  
  display: none;
  background: rgba(45, 40, 40, 0.5);
}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;   
  width: 555px; 
  background-color: #FFF;
  min-height: 100px;
}

.modal-form__inner {
  position: relative;  
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0;
}


/*end modal*/

._upper {
  text-transform: uppercase;
}

/*top menu mnu*/

.search__form {
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  height: 50px;
  display: flex;
  margin: 0 30px 30px 30px;
  
  input[type="text"] {
    padding: 0 15px;
    height: 100%;
    border: none;
    flex-grow: 1;
    &:focus {
      border: none;
      outline: none;
    }
  }  
  button {
    flex: none;
    background: url("../img/search-2.svg") $nr center;
    width: 50px;
    height: 50px;
    font-size: 0;
  }
}

nav.menu {
  position: absolute;
  left: 0;
  display: block;
  bottom: 20px;
  transform: translateY(100%);
  z-index: 13;
  background-color: #FFF;
  padding: 30px 0 15px 0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  &.open {
    border-radius: 5px 0 0 5px;
  }
  ul {
    line-height: 1;
    li {
      line-height: 1;
        &:hover {
          background-color: #EAEAEA;
        }
      a {
        line-height: 1;
      }
    }
  }
  > ul {
    display: block;    
    > li {
      padding: 0 30px;
      > a {
        display: flex;
        align-items: center;
        padding: 15px 0px 12px 0px;
        font-size: 20px;
        color: #000;  
        &:hover {
          text-decoration: none;
        }
        img {
          margin-left: 10px;          
          flex: none;
          margin-top: -2px;
        }
        &._upper {
          padding: 25px 0px 20px 0px;
          border-top: 1px solid rgba(234, 234, 234, 1);
          border-bottom: 1px solid rgba(234, 234, 234, 1);
        }
        &._border {
          padding: 25px 0px 20px 0px;
          border-top: 1px solid rgba(234, 234, 234, 1);
          border-bottom: 1px solid rgba(234, 234, 234, 1);
        }
      }      
      &:last-child {
        ._upper {
          border-bottom: none;
        }
      }
      ul {
        display: block;
        display: none;
        position: absolute;
        right: 1px;
        top: 0;
        transform: translateX(100%);
        background-color: #FFF;
        height: 100%;
        border-radius: 0 5px 5px 0;
        box-shadow: 7px 4px 10px 0px rgba(0, 0, 0, 0.15);
        min-width: 330px;
        padding-top: 17px;
        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 1px;
          background-color: rgba(234, 234, 234, 1);
          height: calc(100% - 29px);
        }  
        li {
          a {
            display: block;
            padding: 12.5px 30px;
            font-size: 20px;
            color: #000;  
            &:hover {
              text-decoration: none;
            }
            &._upper {
              padding: 20px 30px;
              border-top: 1px solid rgba(234, 234, 234, 1);
              border-bottom: 1px solid rgba(234, 234, 234, 1);
            }
          }
        }
      }
      &.parent { 
        > a {
          display: flex;          
          align-items: center;
          &:after {
            margin-top: -1px;
            margin-left: 10px;
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background: url("../img/down-arrow.svg") $nr right center;
          }
        }       
        @media (any-hover: hover) {
          &:hover {
            ul {
              display: block;

            }
          }
        }
      }
    }
  }
}






/*end top menu mnu*/

.header {
  height: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}



.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}



.burger {
  position: relative;
  height: 24px;
  width: 35px;
  margin-right: 93px;
  flex: 0 0 auto;
  cursor: pointer;
  span {
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    display: block;    
    position: absolute;
    top: 50%;
  }
  &:before,
  &:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);  
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}

.logo {
  display: inline-flex;
}

.header__actions {
  margin-top: 9px;
  a {
    display: inline-flex;
    margin-left: 11px;
  }
}


.slick-arrow {
  position: absolute;
  z-index: 12;  
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  font-size: 0;
  background: url("../img/arr-l.svg") $nr center;      
  li {
    button {
      padding: 0;        
      border: none;
    }
  }
}

.slick-prev {
  left: 15px;
}

.slick-next {
  right: 15px;
  transform: rotate(180deg);
}


.slick-dots {
  position: absolute;        
  display: flex;
  z-index: 12;  
  li {
    font-size: 0;
    background: none;
    padding: 0;
    &:not(:last-child) {
      margin-right: 4px;
    }
    button {
      padding: 0;
      font-size: 0;
      outline: none;
      border: none;
      width: 10px;
      height: 10px;
      background-color: #FFF;        
      border-radius: 50%;
    }
    &.slick-active {
      button {          
        background-color: #000;
      }
    }
  }
}
.topslider {
  overflow: hidden;  
  border-radius: 5px;
  .slick-arrow {
    right: 60px;
    bottom: 35px;
  }
  .slick-prev {
    transform: translateX(-44px);
    left: auto;
  }
  .slick-dots {    
    left: 80px;
    bottom: 42px;
  }
}

.topslider,
.topslider__slide {
  height: 500px;  
}

.topslider__slide {
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.topslider__content {
  position: absolute;
  top: 70px;
  left: 80px;
  padding-right: 80px;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  display: block;
  flex-direction: column;
}

.topslider__title {
  font-size: 48px;
  line-height: 1.4;
  color: rgb(255, 255, 255);
  margin-bottom: 165px;
  font-family: $ff2;
}

.topslider__btn {
  font-size: 16px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 5px;
  padding-left: 70px;
  padding-right: 70px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    text-decoration: none;
  }
}


.popcats {
}


.h2 {
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 1.3;
  color: rgb(0, 0, 0);
  font-family: $ff2;
}

.popcats__row {
  margin-left: -5px;
  margin-right: -5px;
  display: flex;
}

.popcats__col {
  padding-left: 5px;
  padding-right: 5px;
  width: 33.333%;
}

.popcats__it {
  object-fit: cover;
  width: 100%;
  height: 250px;
  display: flex;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    box-shadow: rgba(0, 0, 0, 0.5) 0px -140px 40px -60px inset;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;    
    transition: 0.5s;
  }
  &:hover {
    &:before {
      box-shadow: inset 0px -140px 40px -60px rgba(0, 0, 0, 0.7);
    }
  }
}


.popcats__title {  
  font-size: 24px;
  line-height: 1.3;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 20px;
  left: 25px;
}

.popcats__it-before-hover {

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.popcats__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.cat-section {

}


.h2 {
}

.teaser__row {
  margin-left: -5px;
  margin-right: -5px;
  display: flex;  
  flex-wrap: wrap;
}

.teaser__row-slider {
  .slick-arrow {
    background-image: url("../img/arr-l-bl.svg");
    top: -63px; 
    right: 9px;
  }
  .slick-prev {
    left: auto;
    transform: translateX(-44px);
  }
  .slick-next {
  }
}

.teaser__col {
  padding-left: 5px;
  padding-right: 5px;
  width: 33.333%;
}

.teaser__it {
  border-radius: 5px;
  overflow: hidden;
  &:hover {
    .teaser__content {
      background: #F8F8F8;  
    }    
  }
}

.teaser__slider {
  overflow: hidden;
  border-radius: 5px 5px 0 0;  
  .slick-slide {

  }
  .slick-arrow {
    top: calc(50% - 12px);    
    background-image: url("../img/arr-l.svg");  
  }
  .slick-prev {
    left: 21px;
  }

  .slick-next {
    right: 21px;
  }
}
.teaser__slide {
  overflow: hidden;
  border-radius: 5px 5px 0 0;  
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

}
.teaser__slide,
.teaser__slider {
  height: 350px;
  overflow: hidden;
}


.teaser__content {
  padding: 20px 25px 25px;
  border: 1px solid #EAEAEA;
  border-top: none;
  border-radius: 0 0 5px 5px;  
  background-color: #FFF;
  transition: background 0.5s;
  display: block;
  &:hover {
    text-decoration: none;
  }
}

.teaser__cat {
  font-size: 16px;
  line-height: 1.3;
  color: rgb(0, 0, 0);
  display: block;  
}

.teaser__title {
  display: block;
  font-size: 24px;
  line-height: 1.3;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  font-family: $ff2;
  margin-top: 3px;
  &:hover {
    text-decoration: none;
  }
}

.teaser__colors {
  margin-bottom: 19px;
  display: flex;  
  flex-wrap: wrap;
}

.teaser__color {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(225, 225, 225);
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  display: inline-flex;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  margin-right: 8px;
  span {  
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
}

.teaser__price {  
  font-size: 24px;
  line-height: 1.3;
  color: rgb(0, 0, 0);
}

.about {
  margin-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(244, 244, 244);
  .h2 {

  }
}

.about__vid-w {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;  
  iframe {
    z-index: 10;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
  }  
}



.history {
  padding-top: 100px;  
  .contain {
    max-width: 1242px;
  }
}


.history__w {
  margin-top: 36px;
}

.history__row {
  display: flex;  
  align-items: center;
  line-height: 1.3;
  font-size: 20px;
  &:not(:last-child) {
    margin-bottom: 50px;
  }
  p {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.history__img-w {
  width: 50%;
  overflow: hidden;
}

.history__txt {    
  width: 50%;
  padding-left: 30px;
}

.history__txt-2 {  
  width: 50%;
  padding-right: 30px;
}

.inner-page {
  padding-top: 11px;
}

.bread {
  ul {
    display: flex;    
    flex-wrap: wrap;
    li {
      margin-bottom: 15px;
      font-family: $ff2;
      display: flex;      
      align-items: center;
      
      &:not(:last-child) {
        margin-right: 5px;
        &:after {        
          flex: none;
          content: "/";
          margin-left: 5px;
          display: inline-block;
        }  
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.teaser__list {
  .teaser__col {
    margin-bottom: 10px;
  }
}

.category {
  margin-top: 10px;
}

.inner-page {
  h1 {
    font-size: 32px;
    font-family: $ff2;
    margin-bottom: 20px;
    line-height: 1.5;
  }
}

.foot {
  background-color: rgb(0, 0, 0);
  padding-top: 50px;
  padding-bottom: 43px;
  margin-top: 100px;
}



.foot__logo-w {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.foot__logo {
}

.foot__row {
  display: flex;
  margin-bottom: 29px;  
  justify-content: space-between;
}

.foot__col {    
  &:last-child {
    width: 457px;    
    flex: none;
  }
}

.foot__title {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 1.5;
  font-family: $ff2;
}

.foot__ul {
  li {
    margin-bottom: 14px;
    a {
      display: block;
      color: #828282;
      font-size: 16px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


.foot__btn-w {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.foot__btn-mail {
  background: none;
  border: none;
  height: 50px;
  display: flex;
  color: rgb(130, 130, 130);
  font-size: 16px;
  border-bottom: 1px solid rgb(255, 255, 255);    
  flex-grow: 1;
  margin-right: 20px;
  &:focus,
  &:active {
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
  }
}

.foot__btn {
  border-radius: 5px;
  display: inline-flex;
  background-color: rgb(255, 255, 255);
  height: 50px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;  
  flex: none;
}

.foot__favorit__btn {
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  font-size: 16px;
  display: flex;
  height: 50px;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;  
  transition: 0.5s;
  i {    
    display: block;
    background-image: url("../img/heart-foot.svg");
    background-repeat: no-repeat;
    background-position: left top;
    width: 24px;
    height: 24px;
    margin-left: 12px;  
  }
  &:hover {
    background-color: #fff;
    color: #000;
    i {
      background-image: url("../img/heart-foot2.svg");
    }
  }
}

.btn,
*[class$="__btn"] {  
  &:hover {
    text-decoration: none;    
  }
}



.foot__socs {
}

.foot__socs-title {
  font-size: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.foot__socs-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot__soc {
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
}

@import "_after-styless";

body {  
  &.active {
    background: url("../img/1920.jpg") no-repeat top 0px center;
    .wrapper {
      opacity: 0.4;
    } 
    .footer {
      opacity: 0.4;
    }
    .get {
      opacity: 0.4;
    }
  }    
}