html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 14px;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.swiper-button-disabled {
  opacity: 0 !important; }

.swiper-button:focus {
  outline: none; }

.lcpadding {
  padding-left: calc((100% - 1240px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1240px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

.contain {
  max-width: 1214px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

@media only screen and (max-width: 1367px) {
  .contain {
    max-width: 1140px; } }

@media only screen and (max-width: 1199px) {
  .contain {
    max-width: 970px; } }

@media only screen and (max-width: 991px) {
  .contain {
    max-width: 728px; } }

@media only screen and (max-width: 767px) {
  .contain {
    max-width: 600px; } }

@media only screen and (max-width: 640px) {
  .contain {
    max-width: 530px; } }

@media only screen and (max-width: 575px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

@media only screen and (min-width: 1080px) {
  .main-mnu {
    display: block !important; }
  .hidden-mnu {
    display: none; } }

@font-face {
  font-family: 'Actay';
  src: url("../fonts/Actay-Regular.woff") format("woff"), url("../fonts/Actay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Actay';
  src: url("../fonts/ActayWide-Bold.woff") format("woff"), url("../fonts/ActayWide-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

section {
  padding-top: 100px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button {
  border: none;
  outline: none; }

textarea:hover, textarea:active, textarea:focus {
  outline: none; }

body {
  font-family: 'Actay';
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  color: #000; }
  body.ohi {
    overflow: hidden; }

.overlay {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s; }
  .overlay.show {
    opacity: 1;
    visibility: visible; }

.about__play {
  border-radius: 150px;
  width: 150px;
  height: 150px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background: #fff url("../img/play.svg") no-repeat center; }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.main {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.lcpadding {
  padding-left: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

/*modal*/
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;
  display: none;
  background: rgba(45, 40, 40, 0.5); }

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2; }

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 6;
  width: 555px;
  background-color: #FFF;
  min-height: 100px; }

.modal-form__inner {
  position: relative; }

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0; }

/*end modal*/
._upper {
  text-transform: uppercase; }

/*top menu mnu*/
.search__form {
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px 30px 30px; }
  .search__form input[type="text"] {
    padding: 0 15px;
    height: 100%;
    border: none;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .search__form input[type="text"]:focus {
      border: none;
      outline: none; }
  .search__form button {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    background: url("../img/search-2.svg") no-repeat center;
    width: 50px;
    height: 50px;
    font-size: 0; }

nav.menu {
  position: absolute;
  left: 0;
  bottom: 20px;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 16;
  background-color: #FFF;
  padding: 30px 0 15px 0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  display: block;
  display: none; }
  nav.menu.show {
    display: block; }
  nav.menu.open {
    border-radius: 5px 0 0 5px; }
  nav.menu ul {
    line-height: 1; }
    nav.menu ul li {
      line-height: 1; }
      nav.menu ul li:hover {
        background-color: #EAEAEA; }
      nav.menu ul li a {
        line-height: 1; }
  nav.menu > ul {
    display: block; }
    nav.menu > ul > li {
      padding: 0 30px; }
      nav.menu > ul > li > a {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 15px 0px 12px 0px;
        font-size: 20px;
        color: #000; }
        nav.menu > ul > li > a:hover {
          text-decoration: none; }
        nav.menu > ul > li > a img {
          margin-left: 10px;
          -webkit-flex: none;
              -ms-flex: none;
                  flex: none;
          margin-top: -2px; }
        nav.menu > ul > li > a._upper {
          padding: 25px 0px 20px 0px;
          border-top: 1px solid #eaeaea;
          border-bottom: 1px solid #eaeaea; }
        nav.menu > ul > li > a._border {
          padding: 25px 0px 20px 0px;
          border-top: 1px solid #eaeaea;
          border-bottom: 1px solid #eaeaea; }
      nav.menu > ul > li:last-child ._upper {
        border-bottom: none; }
      nav.menu > ul > li ul {
        display: block;
        display: none;
        position: absolute;
        right: 1px;
        top: 0;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        background-color: #FFF;
        height: 100%;
        border-radius: 0 5px 5px 0;
        box-shadow: 7px 4px 10px 0px rgba(0, 0, 0, 0.15);
        min-width: 330px;
        padding-top: 17px; }
        nav.menu > ul > li ul:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 1px;
          background-color: #eaeaea;
          height: calc(100% - 29px); }
        nav.menu > ul > li ul li a {
          display: block;
          padding: 12.5px 30px;
          font-size: 20px;
          color: #000; }
          nav.menu > ul > li ul li a:hover {
            text-decoration: none; }
          nav.menu > ul > li ul li a._upper {
            padding: 20px 30px;
            border-top: 1px solid #eaeaea;
            border-bottom: 1px solid #eaeaea; }
      nav.menu > ul > li.parent > a {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        nav.menu > ul > li.parent > a:after {
          margin-top: -1px;
          margin-left: 10px;
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          background: url("../img/down-arrow.svg") no-repeat right center; }
      @media (any-hover: hover) {
        nav.menu > ul > li.parent:hover ul {
          display: block; } }

/*end top menu mnu*/
.header {
  height: auto;
  padding-top: 10px;
  padding-bottom: 30px; }

.header__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }

.burger {
  position: relative;
  height: 24px;
  width: 35px;
  margin-right: 93px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  cursor: pointer;
  z-index: 16; }
  .burger span {
    width: 100%;
    height: 1px;
    background-color: black;
    display: block;
    position: absolute;
    top: 50%; }
  .burger:before, .burger:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black; }
  .burger:before {
    top: 0; }
  .burger:after {
    bottom: 0; }

.logo {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.header__actions {
  margin-top: 9px; }
  .header__actions a {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 11px; }

.slick-arrow {
  position: absolute;
  z-index: 12;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  font-size: 0;
  background: url("../img/arr-l.svg") no-repeat center; }
  .slick-arrow li button {
    padding: 0;
    border: none; }

.slick-prev {
  left: 15px; }

.slick-next {
  right: 15px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.slick-dots {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 12; }
  .slick-dots li {
    font-size: 0;
    background: none;
    padding: 0; }
    .slick-dots li:not(:last-child) {
      margin-right: 4px; }
    .slick-dots li button {
      padding: 0;
      font-size: 0;
      outline: none;
      border: none;
      width: 10px;
      height: 10px;
      background-color: #FFF;
      border-radius: 50%; }
    .slick-dots li.slick-active button {
      background-color: #000; }

.topslider {
  overflow: hidden;
  border-radius: 5px; }
  .topslider .slick-arrow {
    right: 60px;
    bottom: 35px; }
  .topslider .slick-prev {
    -webkit-transform: translateX(-44px);
        -ms-transform: translateX(-44px);
            transform: translateX(-44px);
    left: auto; }
  .topslider .slick-dots {
    left: 80px;
    bottom: 42px; }

.topslider,
.topslider__slide {
  height: 500px; }

.topslider__slide {
  position: relative; }
  .topslider__slide img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.topslider__content {
  position: absolute;
  top: 70px;
  left: 80px;
  padding-right: 80px;
  width: 100%;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  display: block;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.topslider__title {
  font-size: 48px;
  line-height: 1.4;
  color: white;
  margin-bottom: 165px;
  font-family: "Lora", serif; }

.topslider__btn {
  font-size: 16px;
  color: black;
  background: white;
  border-radius: 5px;
  padding-left: 70px;
  padding-right: 70px;
  height: 60px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .topslider__btn:hover {
    text-decoration: none; }

.h2 {
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 1.3;
  color: black;
  font-family: "Lora", serif; }

.popcats__row {
  margin-left: -5px;
  margin-right: -5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.popcats__col {
  padding-left: 5px;
  padding-right: 5px;
  width: 33.333%; }

.popcats__it {
  object-fit: cover;
  width: 100%;
  height: 250px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  position: relative;
  overflow: hidden; }
  .popcats__it:before {
    content: "";
    display: block;
    box-shadow: rgba(0, 0, 0, 0.5) 0px -140px 40px -60px inset;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.5s; }
  .popcats__it:hover:before {
    box-shadow: inset 0px -140px 40px -60px rgba(0, 0, 0, 0.7); }

.popcats__title {
  font-size: 24px;
  line-height: 1.3;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 25px; }

.popcats__it-before-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }

.popcats__img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.teaser__row {
  margin-left: -5px;
  margin-right: -5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.teaser__row-slider > .slick-arrow {
  background-image: url("../img/arr-l-bl.svg");
  top: -63px;
  right: 9px; }

.teaser__row-slider > .slick-prev {
  left: auto;
  -webkit-transform: translateX(-44px);
      -ms-transform: translateX(-44px);
          transform: translateX(-44px); }

.teaser__col {
  padding-left: 5px;
  padding-right: 5px;
  width: 33.333%; }

.teaser__it {
  border-radius: 5px;
  overflow: hidden; }
  .teaser__it:hover .teaser__content {
    background: #F8F8F8; }

.teaser__slider {
  overflow: hidden;
  border-radius: 5px 5px 0 0; }
  .teaser__slider .slick-arrow {
    top: calc(50% - 12px);
    background-image: url("../img/arr-l.svg"); }
  .teaser__slider .slick-prev {
    left: 21px; }
  .teaser__slider .slick-next {
    right: 21px; }

.teaser__slide {
  overflow: hidden;
  border-radius: 5px 5px 0 0; }
  .teaser__slide img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.teaser__slide,
.teaser__slider {
  height: 350px;
  overflow: hidden; }

.teaser__content {
  padding: 20px 25px 25px;
  border: 1px solid #EAEAEA;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #FFF;
  transition: background 0.5s;
  display: block; }
  .teaser__content:hover {
    text-decoration: none; }

.teaser__cat {
  font-size: 16px;
  line-height: 1.3;
  color: black;
  display: block; }

.teaser__title {
  display: block;
  font-size: 24px;
  line-height: 1.3;
  color: black;
  margin-bottom: 20px;
  font-family: "Lora", serif;
  margin-top: 3px; }
  .teaser__title:hover {
    text-decoration: none; }

.teaser__colors {
  margin-bottom: 19px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.teaser__color {
  background: white;
  border: 1px solid #e1e1e1;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  margin-right: 8px; }
  .teaser__color span {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden; }

.teaser__price {
  font-size: 24px;
  line-height: 1.3;
  color: black; }

.about {
  margin-top: 100px;
  padding-bottom: 100px;
  background-color: #f4f4f4; }

.about__vid-w {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  overflow: hidden;
  border-radius: 5px; }
  .about__vid-w img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .about__vid-w iframe {
    z-index: 10; }
  .about__vid-w:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

.history {
  padding-top: 100px; }
  @media (min-width: 1366px) {
    .history .contain {
      max-width: 1242px; } }

.history__w {
  margin-top: 36px; }

.history__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.3;
  font-size: 20px; }
  .history__row:not(:last-child) {
    margin-bottom: 50px; }
  .history__row p {
    margin-bottom: 0; }
    .history__row p:not(:last-child) {
      margin-bottom: 15px; }

.history__img-w {
  width: 50%;
  overflow: hidden;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }

.history__txt {
  width: 50%;
  padding-left: 30px; }

.history__txt-2 {
  width: 50%;
  padding-right: 30px; }

.inner-page {
  padding-top: 11px; }

.bread ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .bread ul li {
    margin-bottom: 15px;
    font-family: "Lora", serif;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .bread ul li:not(:last-child) {
      margin-right: 5px; }
      .bread ul li:not(:last-child):after {
        -webkit-flex: none;
            -ms-flex: none;
                flex: none;
        content: "/";
        margin-left: 5px;
        display: inline-block; }
    .bread ul li a {
      color: #000; }
      .bread ul li a:hover {
        text-decoration: none; }

.teaser__list .teaser__col {
  margin-bottom: 10px; }

.category {
  margin-top: 10px; }

.inner-page h1 {
  font-size: 32px;
  font-family: "Lora", serif;
  margin-bottom: 20px;
  line-height: 1.5; }

.foot {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 43px;
  margin-top: 100px; }

.foot__logo-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px; }

.foot__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 29px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.foot__col:last-child {
  width: 457px;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }

.foot__title {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 1.5;
  font-family: "Lora", serif; }

.foot__ul li {
  margin-bottom: 14px; }
  .foot__ul li a {
    display: block;
    color: #828282;
    font-size: 16px; }
    .foot__ul li a:hover {
      text-decoration: none; }

.foot__btn-w {
  margin-top: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }

.foot__btn-mail {
  background: none;
  border: none;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #828282;
  font-size: 16px;
  border-bottom: 1px solid white;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 20px; }
  .foot__btn-mail:focus, .foot__btn-mail:active {
    border: none;
    border-bottom: 2px solid white;
    outline: none; }

.foot__btn {
  border-radius: 5px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: white;
  height: 50px;
  font-size: 16px;
  color: black;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }

.foot__favorit__btn {
  border-radius: 5px;
  border: 1px solid white;
  width: 100%;
  font-size: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  color: white;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: 0.5s; }
  .foot__favorit__btn i {
    display: block;
    background-image: url("../img/heart-foot.svg");
    background-repeat: no-repeat;
    background-position: left top;
    width: 24px;
    height: 24px;
    margin-left: 12px; }
  .foot__favorit__btn:hover {
    background-color: #fff;
    color: #000; }
    .foot__favorit__btn:hover i {
      background-image: url("../img/heart-foot2.svg"); }

.btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0 50px;
  border-radius: 5px;
  background-color: #000;
  color: #FFF; }

.btn-o:hover,
.btn:hover,
*[class$="__btn"]:hover {
  text-decoration: none; }

.foot__socs-title {
  font-size: 16px;
  text-align: center;
  color: white;
  margin-bottom: 15px; }

.foot__socs-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.foot__soc {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8px;
  margin-right: 8px; }

.show-385,
.show-480,
.show-575,
.show-640 {
  display: none; }

.btn-o {
  padding: 20px 50px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 1px solid #000;
  color: #000;
  font-size: 16px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 30px;
  height: 60px; }

.select2-container {
  border: none;
  margin-right: 10px;
  min-width: 174px;
  width: auto !important; }
  .select2-container .select2-selection--multiple.select2-selection--clearable {
    padding-right: 60px; }
  .select2-container .select2-selection--multiple,
  .select2-container .select2-selection--single {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1;
    border: 1px solid #BABABA;
    background: #FFF;
    height: 60px;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 174px;
    width: auto;
    padding: 0 60px;
    border-radius: 4px !important; }
    .select2-container .select2-selection--multiple .select2-selection__rendered,
    .select2-container .select2-selection--single .select2-selection__rendered {
      color: #222;
      font-size: 16px;
      padding-left: 0;
      margin-right: 0;
      padding-right: 0;
      line-height: 1;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 14px;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none; }
    .select2-container .select2-selection--multiple .select2-selection__arrow,
    .select2-container .select2-selection--single .select2-selection__arrow {
      width: 16px;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      height: 100%;
      background: url("../img/arr-b-sort.svg") no-repeat right center;
      position: static;
      margin-left: 5px; }
      .select2-container .select2-selection--multiple .select2-selection__arrow b,
      .select2-container .select2-selection--single .select2-selection__arrow b {
        display: none; }
  .select2-container .select2-dropdown {
    border: none;
    border-radius: 0; }
  .select2-container .select2-search--dropdown {
    border: none; }
    .select2-container .select2-search--dropdown .select2-search__field {
      border: none; }
  .select2-container .select2-results {
    border: none;
    margin-top: 0px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #BABABA;
    border-top: none;
    background: #FFF;
    padding: 14px 0; }
  .select2-container .select2-results__option {
    border: none;
    font-weight: 400;
    padding: 6px 14px;
    color: #222;
    font-size: 16px; }

.select2-container--open .select2-dropdown--below {
  width: 204px !important; }

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: none;
  color: #222; }

.select2-container--default .select2-results__option--selected {
  background: none;
  color: #222; }

.sort__form {
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 1199px) {
  .teaser__row .teaser__col {
    width: 50%; }
    .teaser__row .teaser__col:nth-child(3) {
      display: none; }
  .foot__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px; }
  .foot__col {
    width: 50%;
    padding: 0 30px; }
    .foot__col:last-child {
      width: 100%;
      margin-top: 27px; }
  .foot__ul {
    max-width: 260px; }
  .foot__title {
    margin-bottom: 13px; }
  .foot__ul li {
    margin-bottom: 14px; }
  .foot__btn {
    width: calc(50% - 10px); } }

@media (max-width: 991px) {
  .h2 {
    font-size: 32px;
    margin-bottom: 30px; }
  .logo {
    width: 299px; }
    .logo img {
      max-width: 100%; }
  .header {
    padding: 20px 0 30px 0; }
  .topslider__content {
    left: 50px;
    top: 37px; }
  .topslider__title {
    margin-bottom: 199px; }
  .topslider .slick-dots {
    left: 50px; }
    .topslider .slick-dots li:not(:last-child) {
      margin-right: 6px; }
  .slick-dots
.popcats__title {
    bottom: 15px;
    font-size: 20px; }
  .topslider .slick-arrow {
    right: 36px; }
  .popcats__title {
    font-size: 20px;
    bottom: 14px;
    left: 20px; }
  .teaser__color {
    width: 36px;
    height: 36px; }
  .history__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .history__img-w {
    width: 100%;
    margin-bottom: 20px;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    height: 430px; }
    .history__img-w img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .history__row p:not(:last-child) {
    margin-bottom: 12px; }
  .history__row:not(:last-child) {
    margin-bottom: 20px; }
  .history__txt-2,
  .history__txt {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 1.3; }
  .cat-section--2 {
    padding-top: 90px; }
  .foot__btn-w {
    margin-top: 17px; }
  .foot__row {
    margin-bottom: 43px; } }

@media (max-width: 767px) {
  .topslider__title {
    font-size: 36px; }
  .logo {
    width: 162px; }
  .cat-section--2,
  .history,
  section {
    padding-top: 80px; }
  .about {
    margin-top: 80px;
    padding-bottom: 80px; }
  .foot {
    margin-top: 80px; }
  .popcats__col {
    width: 100%; }
    .popcats__col:not(:last-child) {
      margin-bottom: 10px; }
  .popcats__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .h2 {
    font-size: 28px;
    margin-bottom: 22px; }
  .about__play {
    width: 100px;
    height: 100px;
    background-size: 16px; }
  .about__vid-w {
    height: 450px; }
  .history__img-w {
    height: auto; }
    .history__img-w img {
      width: 100%;
      height: auto;
      object-fit: contain; }
  .history__w {
    margin-top: 0; } }

@media (max-width: 640px) {
  .teaser__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .teaser__row .teaser__col {
    width: 100%; }
  .teaser__col:not(:last-child) {
    margin-bottom: 10px; }
  .show-640 {
    display: block; }
  .more__btn {
    width: 100%;
    margin-top: 10px; }
  .teaser__row-slider + .show-640 .more__btn {
    margin-top: 0; }
  .teaser__row-slider .teaser__col {
    display: none; }
    .teaser__row-slider .teaser__col:nth-child(1), .teaser__row-slider .teaser__col:nth-child(2), .teaser__row-slider .teaser__col:nth-child(3) {
      display: block; }
  .teaser__row .teaser__col:nth-child(3) {
    display: block; } }

@media (max-width: 575px) {
  .h2 {
    font-size: 24px;
    margin-bottom: 20px; }
  .about__vid-w {
    height: 350px; }
  .show-575 {
    display: block; }
  .foot__col {
    width: 100%; }
  .header__actions a:not(:last-child) {
    display: none; }
  .burger {
    margin-right: 0; }
  .header {
    padding: 30px 0 30px 0; }
  .topslider__title {
    font-size: 24px;
    margin-bottom: 179px; }
  .topslider__content {
    left: 0;
    top: 30px;
    padding-left: 30px;
    padding-right: 30px; }
  .topslider__btn {
    width: 100%; }
  .topslider_w .contain {
    padding: 0; }
  .topslider, .topslider__slide {
    height: 410px; }
  .topslider .slick-dots {
    left: 30px;
    bottom: 32px; }
  .topslider .slick-arrow {
    right: 35px;
    bottom: 25px; }
  .foot__btn-w {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 10px; }
  .foot__btn-mail {
    margin-right: 0;
    margin-bottom: 15px; }
  .foot__btn-mail,
  .foot__btn {
    width: 100%; }
  .teaser__slide, .teaser__slider {
    height: 280px; }
  .teaser__cat {
    font-size: 14px; }
  .teaser__title {
    font-size: 20px; }
  .teaser__content {
    padding: 20px 20px 20px; }
  .teaser__title {
    margin-bottom: 10px; }
  .foot__logo-w {
    margin-bottom: 30px; }
  .foot__title {
    margin-bottom: 14px; }
  .foot__ul li {
    margin-bottom: 14px; }
  .foot__col {
    margin-bottom: 20px; }
  .foot__col:last-child {
    margin-top: -4px; }
    .foot__col:last-child .foot__title {
      font-size: 16px;
      margin-bottom: 28px; }
  .foot__btn-mail {
    height: 30px;
    font-size: 14px; }
  .foot__row {
    margin-bottom: 14px; }
  .foot {
    padding-bottom: 37px; } }

@media (max-width: 375px) {
  .show-375 {
    display: block; } }

@media (max-width: 360px) {
  .history__img-w {
    height: 250px; }
    .history__img-w img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .history__row p:not(:last-child) {
    margin-bottom: 16px; } }

@media (max-width: 359px) {
  .contain {
    padding: 0 15px; }
  .foot__logo {
    width: 250px; }
    .foot__logo img {
      max-width: 100%; } }

.completed-slde-dots {
  position: absolute;
  left: 28px;
  bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .completed-slde-dots li {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background: none;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer; }
    .completed-slde-dots li:focus {
      outline: none; }
    .completed-slde-dots li:active {
      outline: none;
      background: none; }
  .completed-slde-dots .slick-active {
    border: 2px solid white;
    background-color: #ffffff; }

.nobrd {
  border: none; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

body.active {
  background: url("../img/1920.jpg") no-repeat top 14px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }
